* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
}

.menu {
  display: flex;
  flex-direction: column;
}
.models {
  height: 330px;
}
