.section {
  position: relative;
  width: 100%;
}

.content {
  display: flex;
  justify-content: space-between;
  margin: 250px auto;
  font-family: "Poppins", sans-serif;
  max-width: 1300px;
}

.info {
  display: flex;
  flex-direction: column;
}

.h4 {
  font-size: 25px;
}
.h1 {
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 2.3rem;
  margin-top: 1rem;
}
.h1 span {
  color: #ff4d30;
}

.p {
  color: #706f7b;
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 4rem;
}

.images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
